.Home {
  margin: 0 30px;
}

.Home .img-view-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Home .backdrop-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 10px;
  width: 80rem;
}

.Home .random-movie {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.Home .random-movie img {
  width: 55rem;
  height: 30rem;
  object-fit: cover;
  object-position: 0% 12%;
  border-radius: 25px;
  box-shadow: 0px 2px 10px 0px #353540;
}

.Home h2 {
  color: #fff;

  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Home h2 span {
  color: #f00;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Home .backdrop-container::-webkit-scrollbar {
  display: none;
}

.Home .backdrop-card {
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.Home .arrow {
  margin: 10px;
  background: none;
  border: none;
  height: 45px;
  cursor: pointer;
}
