.SearchbarContainer {
  display: flex;
  justify-content: center;
}

.Searchbar {
  background-color: transparent;
  border: 1px solid #f4f4f4;
  display: flex;
  align-items: center;
  border-radius: 21px;
  width: 87%;
  padding: 10px;
}

.Searchbar input {
  background-color: transparent;
  color: #f4f4f4;
  font-family: Inter;
  border: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 200;
  line-height: 33.89px;
  margin-left: 30px;
}

.Searchbar #search-icon {
  color: #f4f4f4;
  width: 25px;
  height: 25px;
  margin-left: 23px;
}

.SearchbarContainer input:focus-visible {
  outline: none;
  cursor: default;
}
