.RatingView {
  width: 100%;
  height: 184px;
  border-radius: 16px;
  background: #2d2c36;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: flex-start;
}

.RatingView .top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 90%;
}

.RatingView .user-container p {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.RatingView .comment-container {
  margin: 10px 20px;
  width: 70%;
}

.RatingView .comment-container p {
  color: #fff;

  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.RatingView .trash-container {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.RatingView .trash-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.RatingView .trash-container button,
svg {
  height: 20px;
  width: 20px;
  color: #f4f4f4;
}
