.profile-settings {
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 92vh;
  justify-content: space-between;
}

.profile-settings h2 {
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.profile-settings .profileField {
  margin-bottom: 20px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
}

.profile-settings .profile-settings-container {
  flex: 1 0 0;
}

.profile-settings .profileField label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-settings .profileField div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 59px;
  flex-shrink: 0;
}

.profile-settings .profileField input {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid;
  background-color: transparent;
  color: #fff;
  margin-right: 10px;
  width: 100%;
  height: 59px;
  flex-shrink: 0;
}

.profile-settings .profileField button {
  margin-top: 5px;
  align-self: flex-end;
  width: 90px;
  background-color: transparent;
  border: none;
  color: #bbb;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.profile-settings .delte-profile-container {
}

.profile-settings .delte-profile-container button {
  background: none;
  border: none;
  display: flex;

  color: #f04;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.profile-settings .delte-profile-container p {
  margin: 10px;
}
