.BackdropCard-container {
  display: flex;
  cursor: pointer;
}

.BackdropCard-container img {
  width: 228px;
  height: 140px;
  border-radius: 7px;
  margin: 0 5px;
  object-fit: cover;
}

@media (max-width: 500px) {
  .BackdropCard-container img {
    width: 150px;
    height: 90px;
  }
}
